/* .left-side{
  font-size: 20px;
} */

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* .left-side h1{
color: white;
} */

.left-side .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-right: 10px;
}

.middle-side .search-bar {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 70%;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.right-side .icon {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

.right-side .profile {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.right-side .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.right-side .profile-name {
  font-size: 16px;
  color: #333;
}
